#база данных
DB_HOST=postgres
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=brjyybrjdlfybk
DB_PORT=5432

#группы
GROUPS=09.07.14п1,09.07.14п2,09.07.14р

#фласк
FLASK_HOST=0.0.0.0
FLASK_PORT=5000
FLASK_DEBUG=False

#безопасность
SECRET_KEY=your-secret-key-here-change-in-production

#расписание
SCHEDULE_UPDATE_INTERVAL=3600

#модель
MODEL_PATH=backend/models/face_recognition_model.pth

#апи для фронтенда
API_BASE_URL=http://backend:5000